---
import HomeLayout from '../layouts/HomeLayout.astro';
import '../styles/global.css';
---

<HomeLayout title="Hatch">
	<div class="text-white">

		<h1 class="text-red-300 text-2xl font-bold">Astro</h1>
		<div>HHAHAHHAHAH</div>
		<span>haalmao</span>
	</div>
</HomeLayout>
