---
import AmenityTile from "./AmenityTile.astro";

const amenities = [
  { imageSrc: '/desk.png', title: 'Comfortable Seating' },
  { imageSrc: '/coffee.png', title: 'Coffee & Tea Bar' },
  { imageSrc: '/gaming.png', title: 'Gaming Area' },
  { imageSrc: '/wifi.png', title: 'High-Speed Internet' },
  { imageSrc: '/drinks.png', title: 'Refreshments & Energy Drinks' },
  { imageSrc: '/valet.png', title: 'Valet Parking' },
  { imageSrc: '/package.png', title: 'Package Handling' },
  { imageSrc: '/confrence.png', title: 'Conference Room' },
  { imageSrc: '/community.png', title: 'Community Managers' },
  { imageSrc: '/entertainment.png', title: 'Entertainment Area' },
];


---

<div class="flex flex-col pb-[50px] md:py-[100px]">
  <div class="text-[32px] font-bold text-center mb-2.5 md:text-5xl">Our Amenities</div>
  <div class="text-center md:text-xl mb-[30px] md:mb-[80px]">Everything you need for productive and comfortable workdays</div>

  <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
    {amenities.map((a, i) => (
      <AmenityTile imageSrc={a.imageSrc} title={a.title} index={i} />
    ))}
  </div>
</div>