---
interface Props {
  text?: string;
  variant?: "primary" | "secondary" | "ghost"; 
}
const { text = "Click Here", variant = "primary" } = Astro.props;

const baseStyles = "px-[16px] md:px-4 py-2 md:py-2.5 transition-all duration-200 font-medium text-base md:text-xl rounded-full";

const variants = {
  primary: "text-white bg-primary",
  secondary: "text-black bg-white",
  ghost: "text-white bg-transparent"
};
---

<button class:list={[baseStyles, variants[variant]]}>
  {text}
</button>