---
import Button from "./Button.astro";
import HeroGrid from "./HeroGrid.astro"
---

<div class="flex flex-col md:flex-row gap-[50px] mt-5">
  <div>
    <div class="w-fit mb-6">
      <Button text="EST. 2025" variant="semiTransparent" />
    </div>
    <div class="text-[64px] leading-[72px] font-bold mb-10">
      <span>Work.</span>
      <br />
      <span>Create.</span>
      <br />
      <span class="text-primary">Belong.</span>
      <br />
    </div>
    <span class="font-semibold text-2xl mb-2.5">Your Space. Your Way.</span>
    <br />
    <span class="text-[16px]">
      A flexible co-working hub designed for creators, founders, and
      freelancers; who want to work on their own time, and in their own space.</span
    >
    <div class="flex gap-2.5 mt-5 md:mt-[130px]">
      <Button text="Contact Now" variant="primary" />
      <Button text="Visit Us" variant="secondary" />
    </div>
  </div>
  <div class="md:pt-16">
    <HeroGrid />
  </div>
</div>
