---
import Button from "./Button.astro";



---

<section class="py-16 px-6 md:pt-24 md:pb-12.5 text-center flex flex-col gap-7.5 md:gap-14">
    <div class="flex flex-col gap-2 5">
        <div class="text-primary font-bold text-[32px] md:text-[48px]">Try it. Pay for it if you like.</div>
        <div class="text-[#F0F0F0] text-[16px] md:text-[24px]">Tour Y Block's only Co-Working Space. Work a full day on us, and only become a member if the Space earns it.</div>
        <div class="text-primary text-[16px] md:text-[20px]">No card. No commitment. No awkward Sales Pitch.</div>
    </div>
    <!-- <Button text="Book a Free Tour" variant="primary" href="https://wa.me/923294282424?text=I%20would%20like%20to%20book%20a%20Free%20Tour" target="_blank" class="self-center" /> -->
    <Button text="Book a Free Tour" variant="primary" href="/#contact" target="_self" class="self-center" />
</section>